body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fde6cc; /* Warm background color */
    color: #5e5e5e; /* Dark gray text color */
}

header {
    background-color: #e44d26; /* Warm orange header */
    color: #fff;
    text-align: center;
    padding: 1em;
}

#main-content {
    display: flex; /* Use Flexbox */
    justify-content: space-around;
    padding: 2em;
}

.about-content {
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack items vertically initially */
    align-items: center; /* Center items horizontally */
}

.about-content img {
    width: 100%; /* Make images fill their containers */
    max-width: 300px; /* Limit maximum image width */
}

#profile, #connections {
    background-color: #fff;
    border-radius: 8px;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #e44d26; /* Matching footer color */
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#connections-list {
    list-style: none;
    padding: 0;
}

#connections-list li {
    margin-bottom: 0.5em;
}

/* Additional Styles for Buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #e44d26; /* Warm orange button color */
    border-radius: 5px;
}

.button:hover {
    background-color: #d63b1f; /* Darker color on hover */
}

.about-content, .contact-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2em 0;
}

/* Additional Styles for Page Titles */
.page-title {
    color: #e44d26; /* Warm orange color */
}
